<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>
<body>
<h3>메인화면(상품관리-CSR)</h3>
  <li><a href="" th:href="@{/api/products/addh}">등록</a></li>
  <li><a href="" th:href="@{/api/products/searchh}">조회</a></li>
  <li><a href="" th:href="@{/api/products/updateh}">수정</a></li>
  <li><a href="" th:href="@{/api/products/deleteh}">삭제</a></li>
  <li><a href="" th:href="@{/api/products/allh}">전체조회</a></li>
</body>
</html>